body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex: none;
}

.container{
    display: grid;
    width: 500px;
    max-width:1000px;
    height:500px;
}

.grid {

}